.ui.form .field>label{
color: white !important; 
}

#root, body{
  background-color: #a9b8c9 !important;
}

.ui.button.floating.labeled.dropdown.icon{
  background-color:#1b1c1d;
  color: white;
  margin-top: -30px;
}